<div class="contents">
    <mat-card>


        <mat-card-header>
            <mat-card-title color="primary">
                <img src="assets/logo.jpg" alt="">
                <h4>تسجيل الدخول</h4> 

            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            دخول اختباري سريع <br>
            <button mat-raised-button *ngFor="let user of users" (click)="fastLogin(user)">{{user.username}}</button>
            <br><br><br>
            <mat-form-field>
                <input matInput placeholder="البريد الالكتروني" name="email" [(ngModel)]="user.username">
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="كلمه السر" type="password" name="pwd" [(ngModel)]="user.pwd">
            </mat-form-field>
            <br>
            <br>
            <button mat-raised-button (click)="login()" color="primary">دخول</button>
        </mat-card-content>
    </mat-card>
</div>