<mat-toolbar color="primary" class="mat-elevation-z4 mytoolbar">
  <p><button mat-button (click)="sidenav.toggle()"><img src="assets/icnMenu.png" width="32" alt=""></button></p>
  <img src="assets/logo.png" alt="" width="50px">

  <span>
    &nbsp;
    <div class="site-title">
      وصايا
    </div>
  </span>
  <span class="filler">
  </span>
  <div *ngIf="user.id>0; else elseBlock" class="site-title">
    <span>{{user.fullname}} &nbsp;</span> &nbsp;&nbsp;
    <span *ngIf="user.photo.length>0"><img src="{{user.photo}}" alt="" class="profile-avatar"></span>&nbsp;&nbsp;
    <span *ngIf="user.photo.length==0"><img src="assets/user.png" alt="" class="profile-avatar"></span>&nbsp;&nbsp;
    <button mat-button (click)="logout()" matTooltip="Log out, and save data before that!!">خروج</button>
  </div>
  <ng-template #elseBlock>
    <span>
      <button width="32" type="button" class="right" mat-button (click)="routeTo('/login')"> دخول
      </button>
    </span>
  </ng-template>

</mat-toolbar>
<div [hidden]="!appIsBusy" class="prog-bar">
  <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
</div>
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav [mode]="mode.value">
    <a [routerLink]="['']" (click)="goto('/')" class="sd-btn" (click)="sidenav.toggle()">الرئسيه</a><br>
    <a [routerLink]="['profile']" (click)="goto('/profile')" class="sd-btn" (click)="sidenav.toggle()">إعداداتي الخاصه</a><br>
    </mat-sidenav>

  <mat-sidenav-content>
    <div class="main-div">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>